* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: #90caf9;
}
.container {
  margin-top: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10;
  color: white;
  background-color: #121212;
  font-size: 50;
}
.table_chart canvas {
  width: 200px !important;
  height: 70px !important;
}
.table_chart {
  padding: 0 !important;
}
